@charset "UTF-8";

/* ページ中央に動画配置 */
.center {
  display: flex;
  flex-direction: column;  /* 縦に並べる */
  justify-content: center; /* 垂直方向中央揃え */
  align-items: center;     /* 水平方向中央揃え */
  text-align: center;      /* テキストも中央揃え */
  margin-top: 20px;
  gap: 15px;               /* 文字と動画の間隔 */
}
.center iframe {
  width: 100%;       /* 幅は親に合わせる */
  max-width: 560px;  /* PCは最大560px */
  height: auto;      /* 高さ自動 */
  aspect-ratio:16/9; /* 新しいブラウザ対応 */
  border: none;
}
.center img {
  width: 100%;       /* 幅は親に合わせる */
  max-width: 560px;  /* PCは最大560px */
  height: auto;      /* 高さ自動 */
  border: none;
}